
<h1>{{ nombre }}</h1>

<dl>
    <td>Nombre: </td>
    <dd>{{ nombre }}</dd>

    <td>HP: </td>
    <dd>{{ HP }}</dd>

    <td>Skills: </td>
    <dd>{{ skilss }}</dd>

    <td>Funcion: </td>
    <dd>{{ obtenerNombre() }}</dd>

    <td>Capitalizado: </td>
    <dd>{{ NombreCapitalizado }}</dd>

    <td>Cambio de skilss: </td>
    <dd>{{ NombreSkills }}</dd>
</dl>

<button (click)="cambiarNombre()">
    Cambiar Heroe
</button>

<button (click)="cambiarHP()">
    Cambiar HP
</button>

<button (click)="cambiarSkilss()">
    Cambiar skills
</button>
